@media (max-width: 1400px) {
    .container {
        max-width: 950px;
    }
    .about {
        &__grid {
            grid-template-columns: 400px 410px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 370px 491px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 223px);
        }
    }
}

@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .title {
        padding-left: 20px;
    }
    .promo {
        &__btns {
            width: 270px;
            padding-left: 20px;
        }
        &__subtitle {
            &:before {
                left: 15px;
            }
        }
    }
    .about {
        &__grid {
            grid-template-columns: 340px 330px;
            column-gap: 40px;
        }
    }
    .resume {
        &__wrapper {
            column-gap: 25px;
        }
    }
    .skill {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 370px 431px;
        }
        &__title,
        &__text {
            padding: 0;
        }
        &__triggers {
            grid-template-columns: repeat(2, 200px);
        }
    }
}

@media (max-width: 992px) {
    .promo {
        background: radial-gradient(99.06% 580.45% at 99.52% 1.05%, rgba(247, 247, 247, .2) 31.77%, rgba(5, 35, 140, .2) 99.99%, rgba(0, 36, 90, .2) 100%), radial-gradient(99.21% 581.35% at .79% 4.67%, rgba(0, 0, 0, .65) 1.56%, rgba(36, 27, 137, .65) 57.29%, rgba(1, 0, 6, .65) 99.99%, rgba(0, 0, 0, .65) 100%), #fff;
    }
    .about {
        &__grid {
            padding: 15px;
        }
        &__desc {
            font-size: 20px;
            line-height: 31px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
            column-gap: 24px;
            row-gap: 34px;
        }
        &__img,
        &__desc {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 1fr);
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 10px 65px 10px;
        }
        &__item {
            &-body,
            &-location {
                font-size: 16px;
            }
        }
    }
    .skill {
        &__wrapper {
            padding: 15px;
        }
        &-item {
            &__desc {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .promo {
        padding: 165px 20px 160px;
        &__title {
            width: 100%;
        }
    }
    .title {
        &_fz36 {
            font-size: 26px;
            margin-top: 10px;
        }
    }
    .about {
        &__grid {
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
            column-gap: 10px;
        }
        &__skills {
            column-gap: 10px;
            row-gap: 10px;
        }
    }
    .resume {
        &__column {
            padding: 10px;
        }
    }
    .skill {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .portfolio {
        &__wrapper {
            padding: 15px;
            grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        }
    }
}

@media (max-width: 630px) {
    .container {
        width: 100%;
    }
    .about {
        margin-top: 60px;
        &__grid {
            grid-template-columns: 1fr 1fr;
        }
        &__img {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        &__header {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
    .resume {
        &__column {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .skill {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
        &-item {
            width: 270px;
            margin: 0 auto;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 1fr)/repeat(1, 1fr);
            padding: 30px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 14px 0 14px;
        }
        &__triggers {
            grid-template-columns: repeat(2, auto);
            row-gap: 20px;
        }
        &__btn,
        &__input {
            grid-column: 1/3;
        }
        &__form {
            grid-template: 45px 45px 190px / repeat(2, 1fr);
        }
    }
}

@media (max-width: 350px) {
    .title {
        &_fz48 {
            font-size: 26px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 15px;
        }
    }
    .title {
        &_fz14 {
            font-size: 12px;
        }
    }
}