.promo {
    min-height: 460px;
    position: relative;
    //background: url('/img/my_photo5.png') center (50%/cover) no-repeat;
    padding-top: 115px;
    background: radial-gradient(99.06% 580.45% at 99.52% 1.05%, rgba(247, 247, 247, 0.2) 31.77%, rgba(5, 35, 140, 0.2) 99.99%, rgba(0, 36, 90, 0.2) 100%), radial-gradient(99.21% 581.35% at 0.79% 4.67%, rgba(0, 0, 0, 0.65) 1.56%, rgba(36, 27, 137, 0.65) 57.29%, rgba(1, 0, 6, 0.65) 99.99%, rgba(0, 0, 0, 0.65) 100%), #FFFFFF;
    &__title {
        width: 401px;
        margin-bottom: 0;
        margin-top: 9px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}